.shadow {
  border-radius: inherit;
}

.shadow[data-blur-radius="s"] { box-shadow: var(--shadow-size-s); }
.shadow[data-blur-radius="m"] { box-shadow: var(--shadow-size-m); }
.shadow[data-blur-radius="l"] { box-shadow: var(--shadow-size-l); }




