.container {
  width: 65rem;
}

.cardWidth {
  width: 65rem;
}

.svgContainer {
  width: 4rem;
  height: 4rem;
}

.summaryCardContainer {
  width: 32%;
  height: 20rem;
}

@media screen and (max-width: 1024px) {
  .cardWidth {
    width: 100%;
  }
}