.pageContainer {
  height: 100%;
  width: 100%;
}

.container {
  width: 65rem;
}

.svgContainer {
  width: 4rem;
  height: 4rem;
}

.summaryCardContainer {
  width: 32%;
  height: 20rem;
}

@media screen and (max-width: 1024px) {
  .pageContainer {
    height: auto;
  }

  .container {
    width: 98%;
  }

  .summaryCardContainer {
    width: 100%;
    height: auto;
  }
}