.toggle {
  background-color: var(--action-color);
  box-sizing: border-box;
  color: var(--text-color);
  border-radius: var(--border-radius-s);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  cursor: pointer;

  transition: all var(--transition-duration) ease;
}

.toggle:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.toggle[data-size='xs'] {
  padding: var(--padding-xss);
  height: var(--border-box-height-xs);
  width: var(--border-box-height-xs);
}

.toggle[data-size='s'] {
  padding: var(--padding-xss);
  height: var(--border-box-height-s);
  width: var(--border-box-height-s);
}

.toggle[data-size='m'] {
  padding: var(--padding-xss);
  height: var(--border-box-height-m);
  width: var(--border-box-height-m);
}

.toggle[data-size='l'] {
  padding: var(--padding-xss);
  height: var(--border-box-height-l);
  width: var(--border-box-height-l);
}

.toggle[data-size='xl'] {
  padding: var(--padding-xss);
  height: var(--border-box-height-xl);
  width: var(--border-box-height-xl);
}

.toggle[data-size='xs'] svg {
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

.toggle[data-size='s'] svg {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.toggle[data-size='m'] svg {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

.toggle[data-size='l'] svg {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
}

.toggle[data-size='xl'] svg {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
}

.toggle:hover,
.toggle:focus {
  background-color: var(--action-color-transition);
}

.toggle:hover svg,
.toggle:focus svg {
  fill: var(--text-color-secondary);
}

.toggle[data-state='on'] {
  background-color: var(--action-color-transition);
  color: var(--text-color-secondary);
}

.toggle[data-state='on'] svg {
  fill: var(--text-color-secondary);
}
