.cardContainer {
  width: 22rem;
  height: 32rem;
}

.cardContainerExpanded {
  width: 40rem;
  height: auto;
}

.profileImage {
  border-radius: var(--padding-s);
}

.inlineTextContainer {
  margin-bottom: var(--margin-s);
}

@media screen and (max-width: 1024px) {
  .cardContainer {
    width: 22rem;
    height: auto;
  }

  .cardContainerExpanded {
    width: 98%;
    height: auto;
  }
}

