.trigger {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: var(--padding-xs) var(--padding-xs);
  cursor: default;
}

.content {
  position: relative;
  z-index: 50;
  max-height: 24rem; 
  min-width: 8rem;
  overflow: hidden;
  border: var(--border-width-xs) solid var(--border-color);
  border-radius: var(--border-radius-s);
  background-color: var(--background-color);
}

.trigger[data-size="xs"] { height: var(--border-box-height-xs); }
.trigger[data-size="s"] { height: var(--border-box-height-s); }
.trigger[data-size="m"] { height: var(--border-box-height-m); }
.trigger[data-size="l"] { height: var(--border-box-height-l); }
.trigger[data-size="xl"] { height: var(--border-box-height-xl); }

.viewport {
  padding: var(--padding-xss); 
}

.viewport.popper {
  height: var(--radix-select-trigger-height);
  width: 100%;
  min-width: var(--radix-select-trigger-width);
}

.content[data-state="open"] {
  animation: enter 0.25s;
}

.content[data-state="closed"] {
  animation: exit 0.25;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(0.92, 0.92, 0.92) rotate(0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate(0);
  }
}

@keyframes exit {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate(0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(0.92, 0.92, 0.92) rotate(0);
  }
}

