/* This file is not used please check readme if you want check why */
.sharedFormComponent {
    all: unset;
    box-sizing: border-box;
    position: relative;
    padding: var(--padding-s);
    border: var(--border-width-m) solid var(--border-color);
    border-radius: var(--border-radius-s);
    background-color: var(--background-color);
    font-size: var(--font-size-s);
    width: 100%;
    height: var(--border-box-height-m);
  }
  
  .sharedFormComponent:focus {
    border-color: var(--action-color);
  }
  