.text {
  color: var(--text-color);
  text-align: start;
}

.text[data-size="s"] { font-size: var(--font-size-s); }
.text[data-size="m"] { font-size: var(--font-size-m); }
.text[data-size="l"] { font-size: var(--font-size-l); }
.text[data-size="xl"] { font-size: var(--font-size-xl); }
.text[data-size="xxl"] { font-size: var(--font-size-xxl); }
.text[data-size="xxxl"] { font-size: var(--font-size-xxxl); }

.text[data-font-weight="light"] { font-weight: var(--font-weight-light); }
.text[data-font-weight="regular"] { font-weight: var(--font-weight-regular); }
.text[data-font-weight="medium"] { font-weight: var(--font-weight-medium); }
.text[data-font-weight="bold"] { font-weight: var(--font-weight-bold); }
.text[data-font-weight="black"] { font-weight: var(--font-weight-black); }
