.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.introductionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-left: var(--margin-l);
  padding-right: var(--margin-l);
}

