.container {
  width: 100%;
  height: 540px;
}

.featureContainer {
  width: 28%;
}

.svgContainer {
  width: 25%;
}

.svg {
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.textsContainer {
  width: 70%;
}

.textsContainer text {
  margin-bottom: var(--margin-small);
}

@media (max-width: 1024px) {
  .featureContainer {
    width: 100%;
  }

  .svgContainer {
    width: 20%;
  }
}