.button {
  background-color: var(--action-color);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;  
  align-items: center;
  line-height: normal;
  color: var(--text-color);

  text-align: center;
  text-decoration: none;
  font-weight: var(--font-weight-regular);
  
  border-radius: var(--border-radius-s);

  transition: all var(--transition-duration) ease;
}

.button svg {
  transition: fill var(--transition-duration) ease;
}

.button:disabled {
  pointer-events: none;
}

.button:hover,
.button:focus {
  color: var(--text-color-secondary);
  background-color: var(--action-color-transition);
}

.button:hover svg,
.button:focus svg {
  fill: var(--text-color-secondary);
}

.marginRight {
  margin-right: var(--margin-xss);
}

.text { 
  letter-spacing: 0.03em;
}

.button[data-icon-only="true"] {
  aspect-ratio: 1 / 1;
  padding: 0;
}

.button[data-size="xs"] {
  padding: var(--padding-xss);
  height: var(--button-size-xs);
  font-size: var(--font-size-xs);
}

.button[data-size="s"] {
  padding: var(--padding-xss);
  height: var(--button-size-s);
  font-size: var(--font-size-s);
}

.button[data-size="m"] {
  padding: var(--padding-xss);
  height: var(--button-size-m);
  font-size: var(--font-size-s);
}

.button[data-size="l"] {
  padding: var(--padding-xss);
  height: var(--button-size-l);
  font-size: var(--font-size-m);
}

.button[data-size="xl"] {
  padding: var(--padding-xss);
  height: var(--button-size-xl);
  font-size: var(--font-size-l);
}

.button[data-size="xs"] svg {
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

.button[data-size="s"] svg {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.button[data-size="m"] svg {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

.button[data-size="l"] svg {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
}

.button[data-size="xl"] svg {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
}
