:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-size-s : 15px;
  --font-size-m : 17px;
  --font-size-l : 20px;
  --font-size-xl : 24px;
  --font-size-xxl : 32px;
  --font-size-xxxl : 48px;

  --border-radius: 12px;
  --border-size: 2px; 

  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;

  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 2rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --primary-color: #D4C9FF;
  --secondary-color: #9B93ED;
  --tertiary-color: #6461B5;

  --primary-bg: #1D0009;
  --white: white;
  --black: black;

  --navbar-height: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  background-color: var(--primary-bg);
}