:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-size-s : 15px;
  --font-size-m : 17px;
  --font-size-l : 20px;
  --font-size-xl : 24px;
  --font-size-xxl : 32px;
  --font-size-xxxl : 48px;

  --border-radius: 12px;
  --border-radius-s: 4px;

  --border-size-xs: 1px;
  --border-size-s: 1.5px;
  --border-size-m: 2px;
  --border-size-l: 2.5px; 

  --padding-xss: 0.25rem;
  --padding-xs: 0.4rem;
  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-l: 2rem;
  --padding-xl: 4rem;

  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 2rem;

  --button-size-xs: 24px;
  --button-size-s: 28px;
  --button-size-m: 32px;
  --button-size-l: 40px;
  --button-size-xl: 48px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --background-color: hsl(0, 0%, 0%); 
  --primary-color: hsl(231, 58%, 50%); 
  --secondary-color: hsl(230, 73%, 30%); 

  --border-color: hsl(250 10.1% 32.7%);
  --focus-border-color: var(--primary-color);

  --shadow-color: rgba(189, 189, 189, 0.5);

  --text-color: hsl(0, 0%, 100%); 
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --navbar-height: 5rem;
}

[data-theme="light"] {
  --background-color: hsl(0, 0%, 100%); 
  --primary-color: hsl(203, 66%, 46%); 
  --secondary-color: hsl(204, 84%, 72%);

  --text-color: hsl(0, 0%, 0%);
  --border-color: hsl(240 1.8% 15.9%);
  --focus-border-color: var(--primary-color);
  --shadow-color: rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  background-color: var(--background-color);
}