.navbarContainer {
  position: sticky;
  top: 0;
  z-index: 50;
  margin-bottom: var(--padding-s);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--navbar-height);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  box-shadow: 0 1px 16px 0 var(--border-color);
}

.navbar {
  width: 72rem;
  display: flex;
  justify-content: space-between;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.navbarMiddle {
  display: flex;
  align-items: center;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.label {
  font-size: 32px;
  color: var(--text-color);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    padding: 0 var(--padding-m);
  }
}

