.border {
  border-style: solid;
  border-color: var(--border-color);
}

.border[data-border-width="xs"] { border-width: var(--border-width-xs); }
.border[data-border-width="s"] { border-width: var(--border-width-s); }
.border[data-border-width="m"] { border-width: var(--border-width-m); }
.border[data-border-width="l"] { border-width: var(--border-width-l); }
.border[data-border-width="xl"] { border-width: var(--border-width-xl); }

.border[data-border-radius="s"] { border-radius: var(--border-radius-s); }
.border[data-border-radius="m"] { border-radius: var(--border-radius-m); }
.border[data-border-radius="l"] { border-radius: var(--border-radius-l); }


